.post_list{
    overflow: hidden;
    background: #fff;
    .post_item{
        overflow: hidden;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        overflow: hidden;
        border-bottom: 1px dashed #f1f1f1;
        .post_header{
            .post_badges{
                background-color: transparent;
                color: #f5222d;
                font-weight: normal;
                font-size: 14px;
                vertical-align: middle;
                padding: 4px 5px 2px 5px;
                &:before{
                    content: "●";
                    margin-right: 2px;
                }
            }
            .topic_title{
                font-size: 18px;
                font-weight: 600;
                font-synthesis: style;
                line-height: 1.6;
                color: #1a1a1a;
                margin-bottom: 15px;
                transition: all .3s;
                &:hover{
                    color: #175199;
                }
            }
            
        }
        .post_body{
            .post_summary{
                line-height: 35px;
                margin-bottom: 10px;
                font-size: 14px;
                color: #666;
            }
        }
        .post_footer{
            .topic_info{
                font-size: 14px;
                color: #aaa;
                .avatar{
                    border-radius: 50%;
                    vertical-align: middle;
                }
                &>span,>a{
                    margin-right: 10px;
                }
                .handle_span{
                    display: none;
                    cursor: pointer;
                }
            }
        }
        &:hover{
            .handle_span{
                display: inline !important;
            }
        }
    }
    
}

.nomore{
    text-align: center;
    padding: 20px 0;
}