.PageHeader{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 2;
    height: 60px;
    background-color: #24292e;
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1;
    color: #fff;
    .logo{
        float: left;
        height: 60px;
        display: block;
        margin-left: 52px;
        img{
            width: auto;
            height: 60px;
            float: left;
        }
    }
    .header_right{
        float: right;
        margin-top: 15px;
        a{
            color: #fff;
        }
        .avatar{
            border-radius: 50%;
            vertical-align: middle;
        }
    }
}