.PageHeader{
    padding: 25px 0px;
    height: 60px;
    // background-color: #ddd;
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1;
    .logo{
        float: left;
        height: 60px;
        display: block;
        margin-left: 52px;
        img{
            width: auto;
            height: 60px;
            float: left;
        }
    }
}